body {
  margin-top: 50px;
}

.header {
  margin-bottom: 10px;
}

.tweet_count {
  float: right;
  width: 14px;
  text-align: center;
  border: 1px solid gray;
  padding: 3px 6px;
}

span.username {
  font-size: 1.2em;
  font-weight: bold;
}

span.name {
  font-size: 1.2em;
}

img.avatar {
  float: left;
}

div.user_info {
  margin-left: 53px;
}

div.twitter_user {
  margin-bottom: 10px;
  border-bottom: thin solid #eee;
}
